<div *ngIf="leftColumn">
  <div class="main-title"><i class="entypo-tag"></i>
    <header>Price: </header>
    <span>{{game.cost}}</span>
    
  </div>
  <div class="main-title"><i class="fontawesome-money"></i>
    <header>Award: </header>
    <span>{{game.prize}}</span>
    
  </div>
</div>
<div *ngIf="extraContentLeft">
  <div class="main-title"><i class="entypo-key"></i>
    <header>Fair for: </header>
    <span>۵</span>
    
  </div>
  <div class="main-title"><i class="entypo-progress-2"></i>
    <header>Intensity: </header>
    <span>{{game.level}}</span>
    
  </div>
</div>

<div *ngIf="rightColumn">
  <div class="main-title"><i class="entypo-help"></i>
    <header>Players Needed: </header>
    <span>{{game.playersLimit}}</span>
    
  </div>
  <div class="main-title"><i class="entypo-gauge"></i>
    <header>Players: </header>
    <span>{{ toNumber(challenge.players) }}</span>
    
  </div>
</div>
<div *ngIf="extraContentRight">
  <div class="main-title"><i class="entypo-address"></i>
    <header>Location: </header>
    <span>{{game.city}} - {{game.region}}</span>
    
  </div>
  <div class="main-title"><i class="entypo-flow-tree"></i>
    <header>Levels</header>
    <span>{{ game.missions.length }}</span>
    
  </div>
</div>

<div *ngIf="rightColumn">
  <div
    *ngIf="!challenge.isFilled && !isPlayerIn"
    class="main-title players-left"
  ><span>{{numberOfNeededPlayers}}</span>
    <header>Empty Spots remaining</header>
    
  </div>
</div>