<div *ngIf="leftColumn">
  <div class="main-title">
    <span>{{toFarsiNumber(game.cost)}}</span>
    <header>: ورودی این بازی</header>
    <i class="entypo-tag"></i>
  </div>
  <div class="main-title">
    <span>{{toFarsiNumber(game.prize)}}</span>
    <header>: جایزه این بازی</header>
    <i class="fontawesome-money"></i>
  </div>
</div>
<div *ngIf="extraContentLeft">
  <div class="main-title">
    <span>۵</span>
    <header>: حداقل سطح مجاز</header>
    <i class="entypo-key"></i>
  </div>
  <div class="main-title">
    <span>{{toFarsiNumber(game.level)}}</span>
    <header>: درجه سختی</header>
    <i class="entypo-progress-2"></i>
  </div>
</div>

<div *ngIf="rightColumn">
  <div class="main-title">
    <span>{{toFarsiNumber(game.playersLimit)}}</span>
    <header>: بازیکن مورد نیاز</header>
    <i class="entypo-help"></i>
  </div>
  <div class="main-title">
    <span>{{ toFarsiNumber(toNumber(challenge.players)) }}</span>
    <header>: تعداد شرکت کننده</header>
    <i class="entypo-gauge"></i>
  </div>
</div>
<div *ngIf="extraContentRight">
  <div class="main-title">
    <span>{{game.city}} - {{game.region}}</span>
    <header>: موقعیت</header>
    <i class="entypo-address"></i>
  </div>
  <div class="main-title">
    <span>{{ toFarsiNumber(game.missions.length) }}</span>
    <header>: تعداد مراحل</header>
    <i class="entypo-flow-tree"></i>
  </div>
</div>

<div *ngIf="rightColumn">
  <div
    *ngIf="!challenge.isFilled && !isPlayerIn"
    class="main-title players-left"
  >
    <header>.جای خالی باقی مانده است</header>
    <span>{{numberOfNeededPlayers}}</span>
  </div>
</div>