<nav
  class="top-nav"
  id="navbar"
>
  <div class="top-nav-menu">
    <!-- <a href="">لینک</a> <a href="">لینک</a> -->
    <a
      href=""
      class="logo"
    ><strong>---x-</strong></a>
    <button (click)="onMenuButtonClick()"><i class="entypo-menu"></i></button>
  </div>
</nav>
<aside id="aside">
  <a (click)="onUserProfileShow()"><i class="openwebicons-info-card"></i></a>
  <!-- <a href=""><i class="iconicfill-calendar"></i></a>
  <a href=""><i class="entypo-lamp"></i></a> -->
  <a (click)="onChallengesShow()"><i class="entypo-menu"></i></a>
</aside>
<div
  id="overlay"
  class="overlay"
></div>