@import '../scss/mixins';

//  Form Type
.form-type-btn-group {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttongroup {
  text-align: center;
}

.buttongroup label{
  border: 1px solid #fff;
  padding: 9px 20px 10px 20px;
  cursor: pointer;
  font-size: 18px;
  background-color: #fff;
  transition: all 0.2s;
}

.buttongroup label:not(:first-of-type){
  border-left: 0;
}

.buttongroup label:hover{
  background-color: #35469c21;
}

/* Hide the radio button */
input[name='type']{ 
  display:none;
}

/* The checked buttons label style */
input[name='type']:checked+label{
  background-color: #35469c;
  color: #fff
}
//  End of formType

.forms-container {
  @include display-flex();
  max-width: 500px;
  height: 400px;
  margin: 60px auto;
  padding-bottom: 60px;
  > .login,
  > .signup {
    @include flex(1);
    min-width: 200px;
    height: 100%;
    background-color: white;
    text-align: center;
    form {
      > .username,
      > .password,
      > .cellphone,
      > .display-name,
      > .photo-url {
        > input {
          font-size: 16px;
          border: 2px solid #35469c;
          color: #35469c;
          width: 75%;
          outline: none;
          text-align: center;
          height: 28px;
          padding: 6px 7px;
          font-weight: bold;
          // border-radius: 3px;
          &::placeholder,
          &::-webkit-input-placeholder,
          &::-webkit-input-placeholder {
            font-weight: normal;
            color: #35469c;
          }
        }
      }
      > .display-name {
        margin-top: 40px;
      }
      > .password,
      > .username,
      > .cellphone, 
      > .photo-url {
        margin-top: 20px;
        > input {
          &:focus {
            text-align: left;
          }
        }
      }
      > .button {
        margin-top: 54px;
        text-align: center;
        > button {
          background-color: #35469c;
          color: #fff;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
          width: calc(75% + 18px);
          padding: 10px 8px 14px 8px;
          border: none;
          // border-radius: 3px;
        }
      }
    }
    > .login-status-gif {
      margin-top: 35px;
    }
  }
  // > .signup {}
}
