<div class="forms-container">
  <div class="login">
    <h3>ورود</h3>
    <form action="">
      <div class="username">
        <input
          type="text"
          placeholder="نام کاربری"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'نام کاربری'"
        />
      </div>
      <div class="password">
        <input
          type="password"
          placeholder="کلمه عبور"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'کلمه عبور'"
        />
      </div>
      <div class="button"><button type="submit">ورود</button></div>
    </form>
  </div>
  <div class="signup">
    <h3>ثبت نام</h3>
    <form action="">
      <div class="cellphone">
        <input
          type="text"
          placeholder="تلفن همراه"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'تلفن همراه'"
        />
      </div>
      <div class="username">
        <input
          type="text"
          placeholder="نام کاربری"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'نام کاربری'"
        />
      </div>
      <div class="password">
        <input
          type="password"
          placeholder="کلمه عبور"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'کلمه عبور'"
        />
      </div>
      <div class="button"><button type="submit">ثبت نام</button></div>
    </form>
  </div>
</div>
