@mixin display-flex() {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
@mixin flex($flexwidth) {
  flex: $flexwidth;
  -moz-flex: $flexwidth;
  -webkit-flex: $flexwidth;
}
@mixin header-style() {
  color: whitesmoke;
  text-align: left;
  background-color: rgb(100, 100, 100);
  padding: 5px 8px;
}
