<section class="players">
  <header *ngIf="showHeader">بازیکنان</header>
  <div class="player-container" *ngFor="let player of players">
    <div class="player-left-column">
      <div
        class="avatar"
        [style.backgroundImage]="'url(' + player.avatar + ')'"
      ></div>
    </div>
    <div class="player-right-column">
      <div class="username">{{ player.username }}</div>
      <div class="user-level animated-width" [style.width.%]="player.level">
        {{ player.level }}
      </div>
    </div>
  </div>
</section>
