<div *ngIf="startTime" class="main-content">
  <div id="countdown" class="countdown">
    <div>
      <span class="days"></span>
      <div class="smalltext">Day/s</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Hour/s</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Min/s</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Sec/s</div>
    </div>
    <div *ngIf="showHelperText" id="helper-text">
      To get started ...
    </div>
  </div>
</div>
