<div class="sidebar-placeholder"></div>

<div style="margin: 80px 20px 30px 20px">
    <main *ngFor="let mission of missions; let i = index">
        <header>
            {{mission.name}}
        </header>
        <div>
            <circle-progress
                style="float: left"
                [clockwise]="false"
                [space]="8"
                [percent]="mission.level"
                [units]="''"
                [radius]="13"
                [subtitle]="''"
                [title]="''"
                [outerStrokeColor]="'#35469c'"
                [innerStrokeColor]="'rgb(100, 100, 100)'"
            ></circle-progress>
            <div
                class="mission-script"
                [innerHTML]="sanitize(mission.script)"
            ></div>
            <div class="answer">
                <div
                    *ngIf="!checkIfIsAnswered(mission.id)"
                    class="form-control-container"
                >
                    <label>پاسخ</label>
                    <i
                        class="fontawesome-warning-sign"
                        style="font-style: normal; float: left; margin-left: 5px"
                        *ngIf="result[i] === 'failed'"
                    ></i>
                    <img
                        src="assets/trying.gif"
                        alt="trying"
                        style="font-style: normal; float: left; margin-left: 5px; width: 18px;"
                        *ngIf="result[i] === 'trying'"
                    >
                    <div>
                        <input
                            type="text"
                            [(ngModel)]="answer[i]"
                        />
                        <div class="line"></div>
                    </div>
                    <button (click)="onCheckAnswer(mission.id, i)">ارسال</button>
                </div>
                <!-- in case is answered correctly -->
                <span
                    style="color: #3cb878;"
                    *ngIf="checkIfIsAnswered(mission.id)"
                ><span style="margin-right: 6px; font-size: 13px;">پاسخ درست</span><i
                        class="fontawesome-ok"
                        style="font-style: normal; margin-right: 5px"
                    ></i></span>
            </div>
        </div>
    </main>
</div>