@import '../scss/mixins';

* {
  font-family: iranyekan, Verdana, sans-serif;
}

div.background {
  min-width: 100vw;
  height: 100vh;
  // background: url('https://user-images.githubusercontent.com/18594048/48074239-c4375d80-e1f5-11e8-820a-10552df019c1.jpg') center center;
  background-size: cover;
}

::selection {
  background-color: #35469c;
}

.signup-form {
  width: 270px;
  height: 450px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.signup-form > h3 {
  padding-bottom: 10px;
  // border-bottom: 2px dashed #35469c;
  color: #35469c;
}

.display-name-container {
  margin-top: 40px;
}

.password-container,
.phone-number-container,
.photo-url-container,
.username-container {
  margin-top: 15px;
}

.helper-text {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 900;
  color: rgba(255, 60, 0, 0.87);
  display: none;
}

.signup-button-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

button.signup-button,
button.cancel-button {
  @include btn(white);
  border: 1px solid #35469c;
  outline: #35469c;
  color: #35469c;
  width: 47%;
  height: 33px;
  transition: 300ms;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button.signup-button:hover,
button.signup-button:focus,
button.cancel-button:hover,
button.cancel-button:focus {
  background-color: #35469c;
  color: white;
}

input {
  outline: none;
  text-align: center;
  width: 100%;
  border: 1px solid #35469c38;
  height: 30px;
}

input:focus {
  border: 1px solid #35469c;
}

.ng-touched.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.signup-status-gif {
  margin-top: 35px;
}
